Records/
Record_V2/
dataSet/
segmentation/
resampled_dataset/
dataset_augmente_equilibre/
analysis_result/
test_1image/

Records.zip
Record_V2.zip
resampled_dataset.zip
dataset_final.zip
*.pth

.venv/
venv/
env/
.vscode/
.idea/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db
