Records/
Record_V2/
dataset_augmente_equilibre/

Records.zip
Record_V2.zip
resampled_dataset_augmente_equilibre.zip
dataset_augmente_equilibre_final.zip
*.pth

.venv/
venv/
env/
.vscode/
.idea/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db
