# ============================================================
# DATASETS BRUTS
# ============================================================

Records/
Record_V2/

# ============================================================
# ARCHIVES DATASETS
# ============================================================

Records.zip
Record_V2.zip
resampled_dataset.zip
dataset_final.zip

# ============================================================
# DATASETS GÉNÉRÉS
# ============================================================

resampled_dataset/
dataset_augmente_equilibre/

# ============================================================
# ANALYSES ET FICHIERS TEMPORAIRES
# ============================================================

analysis_result/
test_1image/

# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# ENVIRONNEMENTS PYTHON
# ============================================================

venv/
.venv/
env/

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# SYSTÈME
# ============================================================

.DS_Store
Thumbs.dbdataset_final.zip
